<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inobitec.orderxml.mapper.OrderItemMapper">

    <resultMap id="orderItemMap" type="com.inobitec.orderxml.model.OrderItem">
        <result property="id" column="order_item_id"/>
        <result property="orderId" column="order_id"/>
        <result property="itemName" column="item_name"/>
    </resultMap>

    <delete id = "deleteOrderItemById" parameterType = "Integer">
        DELETE from order_item WHERE ORDER_ID = #{id};
    </delete>

    <insert id="saveOrderItem" keyColumn="id" keyProperty="id" parameterType="com.inobitec.orderxml.model.OrderItem">
        <selectKey keyProperty="orderItem.id" resultType="int" order="BEFORE">
            SELECT NEXTVAL('ORDER_ITEM_SEQ')
        </selectKey>
        INSERT INTO order_item (id, order_id, item_name)
        VALUES (#{orderItem.id}, #{orderItem.orderId}, #{orderItem.itemName})
    </insert>

    <update id = "updateOrderItem" parameterType = "com.inobitec.orderxml.model.OrderItem">
        UPDATE order_item SET item_name= #{orderItem.itemName}
        WHERE id = #{id};
    </update>

</mapper>
