<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inobitec.orderxml.mapper.OrderMapper">

    <resultMap id="orderMap" type="com.inobitec.orderxml.model.Order">
        <id property="id" column="id"/>
        <result property="orderStatusId" column="order_status_id"/>
        <result property="customerName" column="customer_name"/>
        <result property="customerPhone" column="customer_phone"/>
        <result property="customerComment" column="customer_phone"/>
        <collection property="orderItemList" resultMap="com.inobitec.orderxml.mapper.OrderItemMapper.orderItemMap" />
    </resultMap>

    <select id="findOrderById" parameterType="Integer" resultMap="orderMap">
        SELECT "order".ID, "order".ORDER_STATUS_ID,
               "order".CUSTOMER_NAME, "order".CUSTOMER_PHONE,
               "order".CUSTOMER_COMMENT,
               order_item.ID AS order_item_id, order_item.ORDER_ID, order_item.ITEM_NAME
        FROM "order" LEFT JOIN order_item  on "order".ID = order_item.ORDER_ID
        WHERE "order".ID = #{id}
    </select>

</mapper>